@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}




/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    45% {
        border-color: white;
    }
}

@keyframes dropIn {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}
