@import url("future.css");


p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #dda0dd;

}


#container > ul, li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #dda0dd;
}

.background{ 
    filter: blur(5px);
}

h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    background: linear-gradient(250deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-extended {
    display: flex;
}

#grid-item{
    background-color: #533554;
    border-radius: 20px;
}

.about-container {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

.textabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-left: 3.5rem;
}

.textabout>p {

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: -1rem;
}

.about-container>h2 {
    font-size: 5em;
    /* text-align: center; */
}

#container > h2 {
    font-size: 2em;
}

#container > ul {
    font-size: 1.25rem;
    
}

.about-extended h2 {
    text-align: center;
}


.me {
    margin-top: 10rem;
    clip-path: circle();
    width: 25%;
}

.fact-grid {
    display: grid;
    row-gap: 5rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.fun-facts {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.future-plans {
    grid-column-start: 2;
    grid-column-end: 4;

    line-height: 5rem;
}
