.knowledge-grid {
    display: grid;
}

.knowledge-begin {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-self: center;
}

.cpp-img {
    width: 20%;
}



.item {
    scroll-snap-align: center;
}

.prev-btn {
    width: 4rem;
    height: 4rem;
}

.next-btn {
    width: 4rem;
height: 4rem;
}

.item-list {
    max-width: 950px;
    width: 70vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
