.knowledge-grid {
    display: grid;
}

.knowledge-begin {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-self: center;
}

.cpp-img {
    width: 20%;
}


.carousel-view {
    display: flex;
    justify-content: center;
    align-content: center;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    scroll-snap-align: center;
}

.prev-btn {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
}

button {
    margin-top: 1em;
    text-align: center;
}

.next-btn { 
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    transition: 0.3s;
    text-align: center;
}

.next-btn:hover {
    background: #ff00ff; /* Temp color, TODO: CHANGE THIS TO SOMETHING REASONABLE*/
    color: white;
}

.item-list {
    max-width: 800px;
    border: teal solid; /*Again, also temp color, TODO: MAKE SURE TO CHANGE*/
    width: 70vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
