@import url(animation.css);

.projects-grid {
    display: grid;
    grid-template-rows: 2fr 2fr;
    row-gap: 10rem;
    margin-bottom: 4em;
}

.projects-indepth {
    display: block;
    background: #533554;
    border-radius: 2rem;
}

.projects-indepth>h2 {
    padding-top: 0.5em;
    text-align: center;
    margin-bottom: 2vw;
}

.projects-indepth>p {
    color: #dda0dd;
    font-size: 1.50rem;
    margin-top: 1em;
    padding-left: 10rem;
    text-align: center;
    padding-right: 10rem;
    margin-bottom: 5em;
    text-wrap: wrap;
}

.projects-grid>div {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

div {
    /* margin-left: 5em; */
    /* margin-right: 5em; */
    display: flex;
}

.projects-indepth>h2 {
    margin-top: 0.5em;
    font-size: 6em;
    /* #f7cdcd and #c2f7f8 */
    background: linear-gradient(250deg, #5796fa, #d43af0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.u2proj {
    display: flex;
    flex-direction: row-reverse;
}

.u4proj {
    display: flex;
    justify-content: center;
}

.u4proj-img {
    width: 50rem;
}

.tetris-proj {
    display: flex;
    flex-direction: row-reverse;
}

.dotfiles {
    padding-bottom: 3em;
}

.rustOS {
    display: flex;
    flex-direction: row-reverse;
}


.proj-container {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    /* flex-direction: column; */
}

.dotfiles {
    display: flex;
    flex-direction: row-reverse;
}

.rustOS-img {
    width: 65em;
}

.recto-img {
    width: 65em;
}

.u2proj-img {
    width: 40em;
}

.desktop-img {
    width: 45em;
}

.u3proj-img {
    /* align-self: flex-end; */
    width: 55em;
}

.slide-up-fade-in {
    opacity: 0;
    transform: translateY(1000px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-up-fade-in.active {
    opacity: 1;
    transform: translateY(0);
}
