.projects-grid {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.projects-indepth {
    display: block;
    background: #533554;
    border-radius: 2rem;
}

div {
    display: flex;
}

.projects-indepth>h2 {
    font-size: 6em;
    /* #f7cdcd and #c2f7f8 */
    background: linear-gradient(250deg, #5796fa, #d43af0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.u2proj {
    display: flex;
    flex-direction: row-reverse;
}

.rustOs {
    display: flex;
    flex-direction: row-reverse;
}


.proj-container {
    display: flex;
    /* flex-direction: column; */
}

.dotfiles {
    display: flex;
    flex-direction: row-reverse;
}

.start-img {}

.end-img {
    align-self: flex-end;
}
