.projects-grid {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.projects-indepth {
    display: block;
}

div {
    display: flex;
}

.proj-container {
    display: flex;
    flex-direction: column;
}

.start-img {

}

.end-img{
    align-self: flex-end;
}
