@import url("animation.css");
@import url("wave.css");
@import url("navbar.css");

body {
    scroll-behavior: smooth;
    background: #2b1f33;
    /* font: 18px Arial, sans-serif; */
    /* box-sizing: border-box; */
    height: 100vh;
    /* position:static;  */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.background {
    display: block;
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.special {
    color: magenta;
}

/*  TODO: Change color to a color that works well with the background. */



#about-me-header {
    /* TODO: Add gradient text*/
    text-align: center;
    font-size: 10vh;
    position: relative;
    /* #c3b5f7 for first color
*  #559ef2 for second */
    /* background: linear-gradient(215deg, #c3b5f7, #559ef2); */
    background: linear-gradient(250deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Rubik", sans-serif;
    font-variant: small-caps slashed-zero;
    margin-bottom: 4vh;
    /* text-wrap: pretty; */
    z-index: 5;
    /* margin-top: 5vh; */
}

.about-me {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me-text {
    color: #af6fd6;
    text-align: center;
    /* right: 5vw; */
    margin-top: 3.5vh;
    position: relative;
    text-wrap: balance;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

#about {
    animation-duration: 3.5s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
}

hr {
    color: #9a629c;
    margin-top: 9vh;
    margin-bottom: 9vh;
    width: 55vw;
    border-radius: 10vw;
    /* For other browsers*/
    background-color: #9a629c;
    /* NOTE: TEMP COLOR CHANGE SOON*/
}

.continued {
    border-radius: 5vw;
    width: 96vw;
    background: #533554;
    /* margin-top: 45vh; */
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
}

.first-img-para,
.second-img-para {
    clip-path: circle();
    max-width: 85%;
    height: auto;
}

.first-img,
.second-img {
    margin-right: 1.5vw;
    margin-left: 1vw;
    /* Adjust spacing between image and paragraph */
}

.first-img {
    margin-top: 30vh;
}

.second-para {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

#first-para-header {
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    right: 35vw;
    /* bottom: -10vh; */
    bottom: -8vh;
    background: linear-gradient(250deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#second-para-header {
    position: absolute;
    bottom: -10.5em;
    right: 0.5em;
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    background: linear-gradient(250deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

#second-text-para {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    color: #e08fe3;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    right: 15vw;
    top: 2vh;
}

.first-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    color: #e08fe3;
    font-size: 1.45vw;
    position: relative;
    bottom: 20vh;
    right: 2vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.first-para p {
    /* text-align: center; */
    text-align: end;
    width: 60vw;
}

.row-1 .row-2 {
    display: flex;
    flex-direction: row;
}

.row-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    /* opacity: 0; */
    /* transform: translateY(0x); */
    transition: all 1s ease-in-out;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#about-pic {
    clip-path: circle();
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    animation: dropIn 1.5s ease-in forwards;
    /* animation-delay: 1s */
}

.navbar {
    background-color: #0f0f1d;
    /* Dark purple background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    position: sticky;
    /* Apply the sticky positioning */
    /* top: 0; */
    bottom: 0;
    /* Stick the element to the top of the viewport */
    z-index: 100;
    /* Ensure the navbar is above other content */
    display: flex;
    justify-content: space-evenly;
    border-radius: 2vw;
}

.navbar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
    margin: 0 5em;
}

.navbar a {
    text-decoration: none;
    color: #e0e0e0;
    /* Light text */
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar li a:hover {
    color: #ff00ff;
    /* Bright pink on hover */
}

.overview-header {
    text-align: center;
    background: linear-gradient(100deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Rubik", sans-serif;
    font-variant: small-caps slashed-zero;
    font-size: 10vh;

}

.overview {
    /*   background-color: #eadfeb; */
    margin-top: 10vh;
}

.projects {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 200vh; */

    flex-direction: column;
    background-color: #3d273e;
}

.project-table {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 5%;
    background-color: #3d273e;
}

.project4 {
    grid-column-start: 2;
}

.project2 {
    justify-self: center;
}

.current {
    /* grid-row-start: 2; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column-end: 4; */
}

.fade-in-element {
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.75s ease-in-out;
    /* Adjust transition time if needed */
    will-change: opacity;
    /* Hint to the browser to optimize this element for changing opacity */
}

.fade-in-element.visible {
    opacity: 1;
    /* Visible state */
}

.current-img {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.current-container p {
    color: #e08fe3;
    text-align: center;
    text-wrap: wrap;
}

.current-header {
    font-size: 3vw;
    background: linear-gradient(100deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Rubik", sans-serif;
    /* font-variant: small-caps slashed-zero; */
}

.proj-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.proj-container p {

    color: #e08fe3;
    font-size: 1.25vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-wrap: wrap;
    justify-content: center;
}

.current-container p {
    color: #e08fe3;
    font-size: 1.25vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-wrap: wrap;
    justify-content: center;
}

.proj-container h2 {
    background: linear-gradient(100deg, #5796fa, #d43af0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.proj1-img {
    border-radius: 5%;
    width: 100%;
}

.proj2-img {
    margin-top: 5%;
    border-radius: 5%;
    width: 100%;
}

.proj3-img {
    width: 100%;
    border-radius: 5%;
    margin-top: 15%;
}

.proj4-img {
    border-radius: 5%;
    width: 100%;
}

.current-container {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
}
